{% extends 'base.html' %} 

{% block content %}
<form action="/users/{{user_id}}/edit" method="POST">
  <label for="first_name">First Name</label>
  <input class="form-control form-control-lg"name="first_name" placeholder="Enter a first name" value="{{user_first_name}}" />

  <label for="last_name">Last Name</label>
  <input class="form-control form-control-lg" name="last_name" placeholder="Enter a last name" value="{{user_last_name}}" />

  <label for="image_url">Image URL</label>
  <input class="form-control form-control-lg" name="image_url" placeholder="Provide an image of this user" value="{{user_image_url}}" />

  <a href="/users/{{user_id}}"><button class="btn btn-outline-secondary">Cancel</button></a>
  <button class="btn btn-success" typ="submit">Save</button>
{% endblock %}
